/****
  CSS
  ****/

html,body{
  padding: 20px;
  margin: 20px;

}
.brandme{
  color: white;
}

nav{
    position: relative;
    background-color: black;
    height: 95%;

}

#learningtohtml{
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 400px;
}
#learningtocss{
  border-radius: 10px 10px 10px 10px;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 300px;
  display: none;
}
